<!--<body class="body">-->
<!--<div class="navigation"></div>-->
<!--<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-out" data-easing2="ease-out" class="navigation w-nav">-->
<!--  <div class="navigation-container"><a href="/" class="logo w-inline-block w--current"><img src="/app/assets/images/giber_top.jpg" alt=""></a>-->
<!--      <div class="bullet"></div><a href="#" class="nav-link w-nav-link">Sign in</a><a href="#" class="navigation-button w-button">はじめよう</a></nav>-->
<!--    <div class="menu-button w-nav-button">-->
<!--      <div class="icon-2 w-icon-nav-menu"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="header">-->
<!--  <div class="header-content">-->
<!--    <h1 data-w-id="b777ef2d-ac03-cea3-ccc5-52beeee5222a" style="-webkit-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(-50DEG) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(-50DEG) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(-50DEG) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 40PX, 0) scale3d(1, 1, 1) rotateX(-50DEG) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d;opacity:0" class="h1">Propel your business.</h1>-->
<!--    <p data-w-id="cd085e48-08fc-46a5-a6c3-97346f451e6d" style="opacity:0;-webkit-transform:translate3d(0, 60PX, 0) scale3d(1, 1, 1) rotateX(-60DEG) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 60PX, 0) scale3d(1, 1, 1) rotateX(-60DEG) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 60PX, 0) scale3d(1, 1, 1) rotateX(-60DEG) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 60PX, 0) scale3d(1, 1, 1) rotateX(-60DEG) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d" class="paragraph">Propel comes with everything you need to get your business rolling.</p><a href="/contact" class="button w-button">はじめてみる</a></div>-->
<!--</div>-->

<div class="top-wrapper">
  <div class="top-inner-text">
    <tr><td align="center">私たちはもっと支え合える</td></tr>
    <br>
    <tr><td align="center">GIberは、地域の高齢者、障害者を包括的に支え合います。</td></tr>
    <br> <br>
    <div class="cta-column"><a href="/contact" class="button cc-cta w-button">はじめてみる</a></div>
  </div>

</div>


<div class="features">
  <div class="container">
    <div class="h2-container">
      <h2 class= top-section-h2">Giberとは?</h2>
      <div class= "c-box" >
          <img src= "giber_top.png", width= "400px", height= "300px">
       </div>
    </div>
  </div>
</div>


<div class="features">
      <h2 class= top-section-h2">新着求人一覧</h2>
  </div>

<br>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
          <div id="product-id-33">
            <div class="card">
              <img class="card-img-top"
                   src="/assets/sample.jpg" width="300"
                   height="200" />
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/boards/33">介護法人ひまわり</a>
                </h4>
                <div style='display: inline; float: right;'>
                  <a id="btn-bookmark-33" data-remote="true" rel="nofollow" data-method="post"
                     href="/bookmarks?board_id=33">
                    <i class="fa fa-star-o"></i>
                  </a></div>


                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="fa fa-user"></i>
                    定員 2人
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-calendar"></i>
                    12/09 12:00~19:00
                  </li>
                </ul>
                <p class="card-text">¥8000</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
          <div id="product-id-32">
            <div class="card">
              <img class="card-img-top"
                   src="/assets/sample.jpg" width="300"
                   height="200" />
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/boards/32">介護法人ひまわり</a>
                </h4>
                <div style='display: inline; float: right;'>
                  <a id="btn-bookmark-32" data-remote="true" rel="nofollow" data-method="post"
                     href="/bookmarks?board_id=32">
                    <i class="fa fa-star-o"></i>
                  </a></div>


                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="fa fa-user"></i>
                    定員 3名
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-calendar"></i>
                    12/09 12:00~19:00
                  </li>
                </ul>
                <p class="card-text">¥8000</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
          <div id="product-id-31">
            <div class="card">
              <img class="card-img-top"
                   src="/assets/sample.jpg" width="300"
                   height="200" />
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/boards/31">介護法人ひまわり</a>
                </h4>
                <div style='display: inline; float: right;'>
                  <a id="btn-bookmark-31" data-remote="true" rel="nofollow" data-method="post"
                     href="/bookmarks?board_id=31">
                    <i class="fa fa-star-o"></i>
                  </a></div>


                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="fa fa-user"></i>
                    定員 3
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-calendar"></i>
                    12/09 12:00~19:00
                  </li>
                </ul>
                <p class="card-text">¥9000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div id="product-id-33">
          <div class="card">
            <img class="card-img-top"
                 src="/assets/sample.jpg" width="300"
                 height="200" />
            <div class="card-body">
              <h4 class="card-title">
                <a href="/boards/33">介護法人ひまわり</a>
              </h4>
              <div style='display: inline; float: right;'>
                <a id="btn-bookmark-33" data-remote="true" rel="nofollow" data-method="post"
                   href="/bookmarks?board_id=33">
                  <i class="fa fa-star-o"></i>
                </a></div>


              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="fa fa-user"></i>
                  定員 2人
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-calendar"></i>
                  12/09 12:00~19:00
                </li>
              </ul>
              <p class="card-text">¥8000</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div id="product-id-32">
          <div class="card">
            <img class="card-img-top"
                 src="/assets/sample.jpg" width="300"
                 height="200" />
            <div class="card-body">
              <h4 class="card-title">
                <a href="/boards/32">介護法人ひまわり</a>
              </h4>
              <div style='display: inline; float: right;'>
                <a id="btn-bookmark-32" data-remote="true" rel="nofollow" data-method="post"
                   href="/bookmarks?board_id=32">
                  <i class="fa fa-star-o"></i>
                </a></div>


              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="fa fa-user"></i>
                  定員 3名
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-calendar"></i>
                  12/09 12:00~19:00
                </li>
              </ul>
              <p class="card-text">¥8000</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div id="product-id-31">
          <div class="card">
            <img class="card-img-top"
                 src="/assets/sample.jpg" width="300"
                 height="200" />
            <div class="card-body">
              <h4 class="card-title">
                <a href="/boards/31">介護法人ひまわり</a>
              </h4>
              <div style='display: inline; float: right;'>
                <a id="btn-bookmark-31" data-remote="true" rel="nofollow" data-method="post"
                   href="/bookmarks?board_id=31">
                  <i class="fa fa-star-o"></i>
                </a></div>


              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="fa fa-user"></i>
                  定員 3
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-calendar"></i>
                  12/09 12:00~19:00
                </li>
              </ul>
              <p class="card-text">¥9000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="separator cc-background-grey">
  <div class="container">
    <div class="line-color"></div>
  </div>
</div>
<div class="premium">
  <div class="container">
    <div class="row">
      <div class="_2-row-image cc-row-spacing"><img src="images/image-row-01.jpg" alt=""></div>
      <div class="_2-row-text">
        <h2 class="h2 cc-2-rows"><span class="text-span">Giber株式会社 代表</span><br>照屋</h2>
        <p class="paragraph cc-gray">2025年に迫った少子高齢化問題、、、</p>
      </div>
    </div>
    <div class="_2-row-action-text">
      <h3 class="h3">サービスに関してのお問い合わせ</h3><a href="/premium" class="link">問い合わせる</a></div>
  </div>
</div>
<div class="separator cc-background-grey">
  <div class="container">
    <div class="line-color"></div>
  </div>
</div>
<div class="cta">
  <div class="container cc-cta">
    <div class="cta-column">
      <div class="cta-left-top">
        <h3 class="h3 cc-cta"></h3>
        <div class="cta-line"></div>
      </div>
      <h2 class="h2"><span class="text-span">私達と一緒に、高齢化社会を解決しませんか？？</span> </h2>
    </div>
    <div class="cta-column"><a href="/contact" class="button cc-cta w-button">はじめてみる</a></div>
  </div>
</div>

<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="js/webflow.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>