<div class="sectionInner">
  <div class="sectionHeader">
    <h3>会員登録情報</h3>
    <!-- sectionHeader --></div>
  <div class="contBody">
    <table>
      <tbody>
      <tr>
        <th>基本情報</th>
        <td>
          <p>ギバー太郎 （ぎばーたろう）</p>
          <p>男性</p>
          <p>1997 年6 月 14 日</p>
          <p>〒〇〇〇-〇〇〇〇</p>
          <p>〇〇県〇〇市〇〇〇〇〇〇〇〇〇〇</p>
          <p>〇〇〇-〇〇〇〇-〇〇〇〇</p>
        </td>
        <td class="change"><p class="btn"><a href="./modify" class="gBtnWhite btnSS">変更</a></p></td>
      </tr>
      <tr>
        <th>メールアドレス<br></th>
        <td class="memberMail">〇〇〇〇〇〇〇〇〇〇.com</td>
        <td class="change"><p class="btn"><a href="./modify/?c=ModifyMailLink" class="gBtnWhite btnSS">変更</a></p></td>
      </tr>

      <tr>
        <th>保有資格<br></th>
        <td class= "certificate">実務者研修,正看護師</td>
        <td class= "change"><p class="btn" ><a href="/modify/?c=ModifyMailLink" class="gBtnWhite btnSS">変更</a></p></td>
      </tr>

      <tr>
        <th>パスワード</th>

        <td>********<span class="info passWord"> ※ セキュリティのためパスワードは非表示となっています。</span></td>
        <td class="change"><p class="btn"><a href="./modify/?c=ModifyPasswordLink" class="gBtnWhite btnSS">変更</a></p></td>

      </tr>

      </tbody>
    </table>
    <!--/.contBody--></div>
  <!--/.sectionInner--></div>