<head>
  <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8">
  <title></title>
  <meta name="GENERATOR" content="LibreOffice 4.1.6.2 (Linux)">
  <meta name="AUTHOR" content="孫正義">
  <meta name="CREATED" content="20181230;64000000000000">
  <meta name="CHANGEDBY" content="孫正義">
  <meta name="CHANGED" content="20181230;64700000000000">
  <meta name="AppVersion" content="16.0000">
  <meta name="DocSecurity" content="0">
  <meta name="HyperlinksChanged" content="false">
  <meta name="LinksUpToDate" content="false">
  <meta name="ScaleCrop" content="false">
  <meta name="ShareDoc" content="false">
  <style type="text/css">
    <!--
    @page { margin-left: 1.18in; margin-right: 1.18in; margin-top: 1.38in; margin-bottom: 1.18in }
    P { margin-bottom: 0.08in; direction: ltr; text-align: justify; widows: 0; orphans: 0 }
    -->
  </style>
</head>

<body lang="en-US" dir="LTR" class="vsc-initialized">
<p style="text-indent: 1.46in; margin-bottom: 0in"><a name="_GoBack"></a>
  <font face="Arial"><span lang="ja-JP"><font size="4"><b>「</b></font></span></font><font size="4"><b>Giber</b></font><font face="Arial"><span lang="ja-JP"><font size="4"><b>」
プライバシーポリシー</b></font></span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">株式会社 Giber-technology.inc（
以下「当社」といいます。）は、当社が提供するアプリ「</span></font>sketter<font face="Arial"><span lang="ja-JP">」（以下「本サービス」といいます。）を通じて、日本社会が豊かになることを目指した事業を展開しています。お客様から個人情報をお預かりするにあたり、役員はじめ役職員が個人情報保護に関する法令、国が定める指針その他の規範を遵守し、個人情報の管理に細心の注意を払います。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">個人情報の取扱いについて、以下の通りプライバシーポリシーを定めます。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">1. <font face="Arial"><span lang="ja-JP">個人情報の取得</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（１）個人情報とは、個人に関する情報であり、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（
他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。
）を指します。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（２）本サービスの利用に関連し、当社が定める入力フォーム
、セミナー、イベントによって、お客様から個人情報を取得します。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（３）お客様から取得する個人情報は以下の通りです。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">　・氏名、メールアドレス、生年月日、電話番号、居住地域、顔写真その他当社が定める入力フォームにお客様が入力する情報</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・端末情報、ログ情報、</span></font>Cookie<font face="Arial"><span lang="ja-JP">及び匿名</span></font>ID<font face="Arial"><span lang="ja-JP">、位置情報</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">2. <font face="Arial"><span lang="ja-JP">個人情報の利用目的</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、取得した個人情報を以下の目的で利用することができるものとします。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（
</span></font>1 <font face="Arial"><span lang="ja-JP">）
本サービスをご利用いただく皆様に関する個人情報</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP"><font size="3">・本サービスの運営、提供、維持、改善のため</font></span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・本サービスのご提供およびご案内のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・本人確認、認証サービスのため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・本サービスのご利用料金をご請求するため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・本サービスおよび広告配信をカスタマイズするため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・アフターサービス、問い合わせ、苦情対応のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・アンケートの実施のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・キャンペーン等のプレゼントの発送のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・本サービスの改善や新サービスの開発等に役立てるため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・利用規約に違反する態様でのご利用を防止するため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・個人を特定できない範囲においてマーケティングデータの調査、統計、分析を行うため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・本サービスに関するシステムの維持、不具合対応のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・その他当社の各サービスにおいて個別に定める目的のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（
</span></font>2 <font face="Arial"><span lang="ja-JP">）
お取引先の皆様に関する個人情報</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・業務上必要なご連絡、契約の履行、商談等のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・取引先情報の管理のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（
</span></font>3 <font face="Arial"><span lang="ja-JP">）
お問い合わせをいただく皆様に関する個人情報</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・お問い合わせ頂いた内容への対応のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（
</span></font>4 <font face="Arial"><span lang="ja-JP">）
セミナー、イベント等にご参加いただく皆様に関する個人情報</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・セミナー、イベント等の運営管理、ご連絡、資料の発送のため</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">上記以外の個人情報の利用目的については、お問い合わせ先まで個別にお問い合わせください。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">3. <font face="Arial"><span lang="ja-JP">個人情報の委託</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、利用目的の達成に必要な範囲内において、取得した個人情報の取り扱いの全部または一部を委託する場合があります。
その場合には、個人情報の委託に係わる基本契約等の必要な契約を締結し、委託先への必要かつ適切な監督を行います。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">4. <font face="Arial"><span lang="ja-JP">個人情報を保護するための体制について</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、個人情報の漏洩、滅失またはき損の防止その他の個人情報の安全管理が図られるよう、従業員に対する必要かつ適切な監督を行います。
また、個人情報の取扱いの全部または一部を委託する場合は、委託先と機密保持を含む契約の締結を求め、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">5. <font face="Arial"><span lang="ja-JP">個人情報の訂正等</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、ご本人から、個人情報が真実でないという理由によって、内容の訂正、追加または削除（
以下「訂正等」といいます。
）を求められた場合には、他の法令の規定により特別の手続きが定められている場合を除き、利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、その旨ご本人に通知します。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">6. <font face="Arial"><span lang="ja-JP">個人情報の利用停止等</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、ご本人から、ご本人の個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由、または偽りその他不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下「利用停止等」といいます。
）を求められた場合には、遅滞なく必要な調査を行い、その結果に基づき、個人情報の利用停止等を行い、その旨ご本人に通知します。ただし、個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、ご本人の権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じます。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">7. <font face="Arial"><span lang="ja-JP">個人情報の第三者への提供</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、個人情報を第三者へ提供する場合には、提供先・提供内容を特定し、ご本人の事前の同意を得ることといたします。ただし、以下の場合はこの限りではありません。なお、外国にある第三者に対して個人情報を提供する場合についても同様となります。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（</span></font>1<font face="Arial"><span lang="ja-JP">）法令に基づく場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（</span></font>2<font face="Arial"><span lang="ja-JP">）人の生命、身体または財産の保護のために必要がある場合であって、ご本人の同意を得ることが困難である場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（</span></font>3<font face="Arial"><span lang="ja-JP">）公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ご本人の同意を得ることが困難である場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（</span></font>4<font face="Arial"><span lang="ja-JP">）国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、ご本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（</span></font>5<font face="Arial"><span lang="ja-JP">）弊社が利用目的の達成に必要な範囲内において個人情報の取り扱いの全部または一部を委託する場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（</span></font>6<font face="Arial"><span lang="ja-JP">）事業譲渡、合併その他の事由による事業の承継に伴って個人情報が提供される場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">（</span></font>7<font face="Arial"><span lang="ja-JP">）利用規約等の違反行為に対して法的な措置を含む必要な措置をとる場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">8. <font face="Arial"><span lang="ja-JP">個人情報の開示等の手続き</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、ご本人より当該本人の個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去および第三者提供の停止のお申し出に対して、遅滞なく応じます。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">9. <font face="Arial"><span lang="ja-JP">免責</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">以下の場合は、当社は何ら責任を負いません。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・ご本人が当社サービスの機能または別の手段を用いて第三者に個人情報を明らかにした場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・ご本人が当社サービス上にて開示した情報等により、個人を識別できてしまった場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">・ハッカー等による不当な行為があった場合</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">10. <font face="Arial"><span lang="ja-JP">統計データの利用</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、取得した個人情報をもとに、特定の個人を識別できないように加工した統計データを作成することがあります。
当該統計データについては、当社は何ら制限なく利用することができるものとします。</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in">11. <font face="Arial"><span lang="ja-JP">変更手続き</span></font></p>
<p style="margin-bottom: 0in"><br>
</p>
<p style="margin-bottom: 0in"><font face="Arial"><span lang="ja-JP">当社は、本プライバシーポリシーは改定することがあります。
重要な変更がある場合には、法令の定めに従い通知または同意取得を行います。</span></font></p>

</body>