<div class="footer">
  <div class="container cc-footer">
    <div class="footer-column cc-footer"><a href="/" class="navigation-logo w-inline-block w--current"><img src="images/logo-spoon-white.svg" alt=""></a>
      <div class="text-footer-credits">© 2019  Giber All rights reserved.</div>
    </div>
    <div class="footer-column">
      <div class="footer-links-list"><a href="/features" class="link-footer">Giberについて</a><a href="/features" class="link-footer">運営会社</a><a href="/premium" class="link-footer">利用規約</a><a href="/privacy_policy" class="link-footer">プライバシーポリシー</a></div>
      <div class="footer-links-list"><a href="/about" class="link-footer">よくある質問</a><a href="/blog" class="link-footer">サービスに関する質問</a><a href="/contact" class="link-footer">特定商取引に基づく記載</a></div>
      <div class="footer-links-list"></div>
      <div class="footer-social"><a href="#" class="link-social w-inline-block"><img src="images/icon-facebook.svg" alt=""></a><a href="#" class="link-social w-inline-block"><img src="images/icon-twitter.svg" alt=""></a><a href="#" class="link-social w-inline-block"><img src="images/icon-instagram.svg" alt=""></a></div>
    </div>
  </div>
</div>