<div class="col-sm-12 col-md-6 col-lg-4 mb-3">
  <div id="product-id-31">
    <div class="card">
      <img class="card-img-top"
           src="/assets/kaigo_sisetu➁1106.png" width="300"
           height="200" />
      <div class="card-body">
        <h4 class="card-title">
          <a href="/boards/31">介護法人ひまわり</a>
        </h4>
        <div style='display: inline; float: right;'>
          <a id="btn-bookmark-31" data-remote="true" rel="nofollow" data-method="post"
             href="/bookmarks?board_id=31">
            <i class="fa fa-star-o"></i>
          </a></div>


        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-user"></i>
            定員 3
          </li>
          <li class="list-inline-item">
            <i class="fa fa-calendar"></i>
            12/09 12:00~19:00
          </li>
        </ul>
        <p class="card-text">¥9000</p>
      </div>
    </div>
  </div>
</div>