<div class="container pt-3">
<!--  <div class="row mb-3">-->
<!--    <div class="col-lg-8 offset-lg-2">-->
        <div class= "a-box" >
          <img src ="assets/images/giber_sisetsu.png", width= "400px", height= "250px" >
        </div>
<!--      <article class="card">-->
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <div class="center-block">
                <button type="button" class="btn btn-outline-secondary">その他</button>
              <p><h3 style='display: inline;'><span class="under">入浴サポート</span></h3></p>
              <h6>日時　2019年 12月 14日 15:00 ~ 18:00 </h6>
              <h6>場所　東京都品川区3-14-11　医療法人〇〇  </h6>
              <h6>報酬　3000円 +  500円(交通費) </h6>
                <button type="button" class="btn btn-primary btn-lg btn-block">この仕事に申し込む</button>
                <p><h6>※クリックしても業務は確定しませんのでご安心ください</h6></p>
              </div>
            </div>
          </div>
        </div>

     <div class="b-box">
      <div class="col-lg-8 offset-lg-2">
        <p><h3 style='display: inline;'><span class="under">お仕事内容</span></h3></p>
        【ユニット型 特別養護老人ホームでの入浴サポート】
        ■お仕事時間
        　13:30～16:30　（集合13:15）

        ■お仕事について　※介助は施設介護職員が行いますので未経験の方もご安心ください。
        　・お湯はり、タオルの準備
        　・お客様の居室から浴室までの誘導
        　　（入浴担当職員がどのお客様にお声がけするかを指定します）
        　・入浴中のお客様とのコミュニケーション
        　・ドライヤー等の簡単な整容サポート
        　・浴室からお客様の居室までの誘導

        入浴はリラックスできる楽しみの時間です。
        認知症の方含め、それぞれのお客様の個性に合わせてコミュニケーションをとっていただける方、
        またはトライしたい方、是非エントリーしてください！

        <p><h3 style='display: inline;'><span class="under">募集資格</span></h3></p>
        <label for="r_male">実務者研修<input id="r_male" type="radio" name="gender" value="実務者研修" required></label>
        <label for="r_male">介護福祉士<input id="r_male" type="radio" name="gender" value="介護福祉士" required></label>
        <label for="r_male">レクリエーション介護士<input id="r_male" type="radio" name="gender" value="レクリエーション介護士" required></label>
        <label for="r_male">正看護師<input id="r_male" type="radio" name="gender" value="正看護師" required></label>
        <label for="r_male">准看護師<input id="r_male" type="radio" name="gender" value="准看護師" required></label>
        <label for="r_male">無資格<input id="r_male" type="radio" name="gender" value="無資格" required></label>
      </div>
       </div>


        <!--      </article>-->
<!--    </div>-->
<!--  </div>-->

<br>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
              <div class="white-box"><img src="images/feather-15-white.svg" alt="" class="grid-image">
                <h3>持ち物</h3>
                <p>チノパン　シャツ</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
          <div class="card">
            <div class="white-box"><img src="images/feather-15-white.svg" alt="" class="grid-image">
              <h3>持ち物</h3>
              <p>チノパン　シャツ</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
          <div id="product-id-33">
            <div class="card">
              <div class="white-box"><img src="images/feather-15-white.svg" alt="" class="grid-image">
                <h3>アクセス</h3>
                <p>JR｢蒲田駅/大森駅｣より｢森ケ崎｣行きバスに乗車。｢前の浦」バス停で下車し、バス停の目の前が施設です。</p>
              </div>
          </div>
        </div>
       </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
          <div id="product-id-33">
            <div class="card">
              <div class="white-box"><img src="images/feather-15-white.svg" alt="" class="grid-image">
                <h3>注意事項</h3>
                <p>有料老人ホームで働く上で清潔感のある格好でお願いします 当日は10分前集合でお願いします。</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--        <div class="row mb-3">-->
<!--              <div class="col-lg-8 offset-lg-2">-->
<!--          <div class="w-col w-col-4">-->
<!--          <div class="white-box"><img src="images/feather-15-white.svg" alt="" class="grid-image">-->
<!--            <h3>持ち物</h3>-->
<!--            <p>チノパン　水</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">-->
<!--          <div class="w-col w-col-4">-->
<!--            <div class="white-box"><img src="images/feather-15-white.svg" alt="" class="grid-image">-->
<!--              <h3>アクセス</h3>-->
<!--              <p>JR｢蒲田駅/大森駅｣より｢森ケ崎｣行きバスに乗車。｢前の浦」バス停で下車し、バス停の目の前が施設です。</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">-->
<!--          <div class="w-col w-col-4">-->
<!--            <div class="white-box"><img src="images/feather-15-white.svg" alt="" class="grid-image">-->
<!--              <i class="fas fa-briefcase"></i>-->
<!--              <h3>注意事項</h3>-->
<!--              <p></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        </div>-->

<!--        </div>-->
<!--      </div>-->
     </div>
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <div class="row">-->
<!--        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">-->
<!--          <div id="product-id-33">-->
<!--            <div class="card">-->
<!--              <img class="card-img-top"-->
<!--                   src="/assets/giber_gaikan.png" width="300"-->
<!--                   height="200" />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">-->
<!--          <div id="product-id-33">-->
<!--            <div class="card">-->
<!--              <img class="card-img-top"-->
<!--                   src="/assets/giber_sisetu.png" width="300"-->
<!--                   height="200" />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-sm-12 col-md-6 col-lg-4 mb-3">-->
<!--          <div id="product-id-33">-->
<!--            <div class="card">-->
<!--              <img class="card-img-top"-->
<!--                   src="/assets/giber_shokuin.png" width="300"-->
<!--                   height="200" />-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>


